/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/****end reset*****/
body{
 	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:80%;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
/*----start-header-----*/
.header{
	background:#323A45;
	border-bottom:2px solid #00B895;
}
.logo{
	float: left;
	padding:25px 0;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display:inline-block;
	float:left;
}
.top-nav ul li a{
	font-family: 'Roboto', sans-serif;
	color: #d6d6d6;
	padding: 40px 25px;
	display: block;
	position: relative;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	font-size: 0.875em;
	position:relative;
}
.top-nav li.active a, .top-nav li a:hover {
	color:#FFF;
	background:#00B895;
}
/*---start-content----*/
.content {
}
.content_top{
	background:#45B39E;
	padding:50px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	position:relative;
}
.content_top:after{
	content: '';
	position:relative;
	width: 0;
	height: 0;
	border:20px solid #FFF;
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:0%;
	top: 30px;
	margin-left: -10px;
}
.content_top h1 a{
	font-size:3em;
	color: #fff;
	padding-bottom:14px;
}
.content_top span a{
	font-family: 'Roboto', sans-serif;
	color:#ffffff;
	background-color:#009175;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size:1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.content_top span a:hover{
	background:#222;
}
.content_top p{
	font-size:1em;
	line-height: 1.8em;
	color: #fff;
	margin-bottom: 24px;
	margin: 14px 0px 24px 0px;
}
.content-grids {
	padding:50px 0;
	background:#FFF;
}
.grid{
	float: left;
	width: 29%;
	background: #fff;
	border: 1px solid #EBEBEB;
	padding: 19px 18px 25px;
	color: #7e7e7e;
	text-align: center;
	margin-right: 2%;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.grid h3{
	text-transform: uppercase;
	padding: 8px 0;
	margin-bottom: 8px;
	font-size: 1.6em;
	color:#00B895;
	border-bottom: 1px solid #dedede;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}
.button{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color:#00B895;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 30px;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background-color: #222;
}
.last-grid{
	margin:0px;
}
/*-----specials-heading----*/
.specials{
	background:#EDEAE6;
	padding:50px 0;
	position:relative;
}
.specials:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #FFF;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:0px;
	margin-left: -10px;
}
.specials-heading h3{
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
	color:#6C6C6D;
	text-align: center;
	text-transform: uppercase;
	background:url(../images/bg-h2.png) repeat-x center;
}
/*----special-grid------*/
.special-grid {
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: center;
}
.special-grid img{
	width:100%;
}
.special-grid a{
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#5F5F5F;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 0.3em 0;
	display: block;
}
.special-grid a:hover{
	color: #009175;
}
.special-grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}
.spe-grid{
	margin: 0px;
}
.specials-grids {
	padding: 50px 0;
}
/*----start-testmonial-grid----*/
.testmonials{
	text-align:center;
	background:#FFF;
	padding:50px 0;
}
.testmonial-grid h3{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color:#323A45;
	text-align: center;
	text-transform: uppercase;
	padding: 0.5em 0 0.5em 0;
}
.testmonial-grid p{
	font-size: 0.875em;
	color:#8A8A8A;
	font-family: Arial, Helvetica, sans-serif;
	padding:10px 0;
	margin:0 auto;
	width:80%;
	line-height: 1.8em;
}
.testmonial-grid a{
	font-size: 0.875em;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#45B39E;
}
/*---start-footer-----*/
.footer{
	background:#45B39E;
	padding: 50px 0;
	position:relative;
	text-align:center;
}
.footer:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #45B39E;
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:-20px;
	margin-left: -10px;
}
.footer-grid{
	float:left;
	width:23%;
	margin-right:2%;
}
.footer-grid h3{
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}
.footer-grid p{
	font-size: 0.875em;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
.footer-grid ul li a{
	display:block;
	padding:10px 0px;
	border-bottom: 1px solid #5AC5B1;
	font-size: 0.875em;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:uppercase;
}
.footer-grid ul li a:hover{
	color:#005F4D;
}
.footer-lastgrid{
	margin:0;
}
.email-link{
	color:#FFF;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:lowercase;
}
.email-link:hover{
	color:#FFF;
}
/*---start-copy-right-----*/
.copy-right{
	text-align:center;
	padding:1em;
	background:#323A45;
}
.copy-right p{
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.copy-right p a{
	color: rgba(148, 145, 145, 0.84);
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.copy-right p a:hover{
	color:#FFF;
}
.header_about_us{
float:left;}
 /*outside dhaka */
.form_padding{
	padding: 70px;
    border: 1px solid #4CAF50;
}
		